/* Police */

@font-face {
    font-family: "October Crow";
    src: url('sources/polices/October Crow.ttf');
}
@font-face {
    font-family: "HappyHalloween";
    src: url('sources/polices/HappyHalloween.ttf');
}

/* HTML */

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'HappyHalloween', sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'October Crow', sans-serif;
    letter-spacing: 10px;
    font-size: 3rem;
    margin: 0;
}

img {
    height: 350px;
}

footer {
    margin-top: 20px;
    padding: 30px 0;
    background-color: rgb(24, 32, 41, .7);
    color: white;
    text-align: center;
    font-size: x-large;
}

#background {
    margin-top: 20px;
    background-color: rgb(24, 32, 41, .7);
    width: 1000px;
    border-radius: 10px;
    padding: 20px;
}

#colonne_grille {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 30px;
    
}

#colonne_gauche {
    background-color: rgb(255, 255, 255, .8);
    padding: 20px;
    border: 1px solid #182029;
    border-radius: 10px;
}

#colonne_droite {
    background-color: rgb(255, 255, 255, .8);
    padding: 60px;
    border: 1px solid #182029;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
}

#clavier {
    background-color: rgb(24, 32, 41, .8);
    border: 1px solid #fff;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
}

#lettre_grille {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    align-items: center;
    justify-items: stretch;
}

#mot {
    text-align: center;
    font-family: 'October Crow', sans-serif;
    letter-spacing: 10px;
    font-size: 45px;
    padding-top: 10px;
    color:#fff;
}

.container {
    width: 1100px;
    margin: 0 auto;
}


.lettre {
    font-family: 'October Crow', sans-serif;
    background-color: #fff;
    border: 1px solid #182029;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    margin: 10PX;
    text-align: center;
}

.lettre:hover {
    background-color: #d35b20;
    color: #fff;
    transform: scale(1.2);
    border: none;
    cursor: pointer;
}

.lettre.disabled {
    background-color: #d35b20;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    margin: 10PX;
    text-align: center;
    text-transform: uppercase;
    transform: scale(1.2);
    border: none;
    cursor: pointer;
  }

.instruction {
    color:#fff;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px;
    background-color: rgb(24, 32, 41, .8);
}

.btn {
    color: #fff;
    background-color: #d35b20;    
    font-family: 'HappyHalloween', sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #dd4b02cb;
}

.button {
    display: inline-block;
    font-size: 1.3em;
    padding: 1em 2em;
    margin-top: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #d35b20;
    font-family: 'HappyHalloween', sans-serif;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #dd4b02cb;
}